* {
    list-style: none;
}


section {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

body {
    background-color: #A3CDB5;
}

header {
    border: black solid 3px;
    width: 1594px;
    height: 141px;
    margin: auto;
    margin-bottom: 1rem;
}


.div-allt{
    display: flex;
    gap: 3px;
}

.sid-nav {
    width: 15%;
    border: 3px solid black;;
}


.post-div {
    border: 3px solid black;
    width: 65%;
}


.right-nav {
    border: black solid 3px;
    width: 20%;
    height: 70vh;
}

.inlagDiv {
    text-align: center;
    background-color: #CADDD2;
    width: 90%;
    margin: auto;
    border: solid 3px black;
}



.input-field {
    margin: auto;
    text-align: center;
    background-color: bisque;
    width: 90%;
}

body {
    width: 1600px;
    margin: auto;
}

h2 {font-size: 2em;}
h3 {font-size: 2em;}
h4 {font-size: 2em;
text-align: center;}
h5 {font-size: 2em;
    text-align: center}

.img-box {
    background-color: gray;
    margin: auto;
    width: 50%;
    height: 20%;
}

#input-field {
    text-align: center;
}

.message-wrapper {
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 1rem;
}


#message {
    width: 95%;
    height: 80px;
}

.content-box{
    display: none;
}
.content-box-active{
    display: block;
}

.titleContainer {
    width: 400px;
}

.logInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: red solid 3px;
    min-width: 1440px;
    min-height: 600px;
    margin: auto;
}

.logInContainer>form {
    min-width: 250px;
}

.formContainer {
    margin-bottom: 20px;
}

.formContainer>label,
.formContainer>input {
    display: block;
}

.textLab {
    margin-bottom: 10px;
    font-weight: bold;
}

.error {
    color: red;
}


.li-post {
    border: black solid 1px;
}

.ul-post {
    list-style: none;
    margin: 0;
    padding: 0;
}

#post-description {
    text-align: center;
}