* {
    list-style: none;
}

p {
    text-align: start;
}

.p-author {
    font-weight: bold;
}

img {
    width: 100%;
}

.allWrapper {
    display: flex;
}

.allWrapper img {
    width: 18%;
}

.postWrapper {
    width: 86%;
}

.delete-button {
    float: right;
}


section {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

body {
}

header {
    border-bottom: solid #0000002e 2px;
    width: 1594px;
    height: 141px;
    margin: auto;
    margin-bottom: 1rem;
}


.div-allt {
    display: flex;
    gap: 3px;
}

.sid-nav {
    width: 15%;
    /*border: 3px solid black;*/
    /*background-color: aliceblue;*/
    /*border-right: 2px solid #0000001f;*/
}


.post-div {
    width: 65%;
}


.right-nav {
    border: black solid 3px;
    width: 20%;
}

.inlagDiv {
    /* text-align: center; */
    background-color: #FAFAFA;
    width: 90%;
    margin: auto;
    max-height: 569px;
    overflow-y: scroll;
    margin-bottom: 40px;
}



.input-field {
    margin: auto;
    text-align: center;
    background-color: bisque;
    width: 90%;
}

body {
    width: 1600px;
    margin: auto;
}

h2 {
    font-size: 2em;
    padding: 11px;
    background-color: #A2CFFE;
    color: white;
    text-align: center;
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 2em;
    padding: 11px;
    background-color: #A2CFFE;
    color: white;
    text-align: center;
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    font-size: 2em;
    text-align: center;
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5 {
    font-size: 2em;
    text-align: center
    
}

.img-box {
    margin: auto;
    width: 50%;
    height: 20%;
}

#input-field {
    text-align: center;
}

.message-wrapper {
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 1rem;
}


#message {
    width: 95%;
    height: 80px;
}

.content-box {
    display: none;
}

.content-box-active {
    display: block;
}

.titleContainer {
    width: 400px;
}

.logInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: red solid 3px;
    min-width: 1440px;
    min-height: 600px;
    margin: auto;
}

.logInContainer>form {
    min-width: 250px;
}

.formContainer {
    margin-bottom: 20px;
}

.formContainer>label,
.formContainer>input {
    display: block;
}

.textLab {
    margin-bottom: 10px;
    font-weight: bold;
}

.error {
    color: red;
}


.li-post {
    border: rgb(255, 255, 255) solid 1px;
}

.ul-post {
    list-style: none;
    margin: 0;
    padding: 0;
}

#post-description {
    text-align: center;
}


.img-ul {
    list-style-type: none;
}

.img-ul li {
    display: inline-block;
}

input[type="radio"][id^="cb"] {
    display: none;
}

.img-ul label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.img-ul label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.img-ul label img {
    height: 100px;
    /*width: 100px;*/
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.img-ul :checked+label {
    border-color: #ddd;

}

.img-ul :checked+label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

.img-ul :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}

#title {
    width: 89.2%;
    margin-top: 20px;
}

.titleContainer img {
    transition: 1s ease;
}

.titleContainer img:hover {
    transform: scale(1.05);
    transition: 1s ease;
    cursor: pointer;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

#iconHeader {
    width: 100%;
}

.titleContainer {
    margin: 15px;
}

.buttonHome button {
    margin-top: 95px;
    padding: 15px;
    width: 110px;
    border: none;
}

.img-box img {
    width: 100%;
}

textarea {
    margin-bottom: 20px;
}

#post-button {
    margin-bottom: 20px;
}

#signupButton {
    background-color: #07B290;
    color: white;
}

#forum-ul{
  padding: 0;
}

#forum-ul button{
    background-color: #FAFAFA;
    border: none;
    width: 233px;
    margin: 3px;
    padding: 12px;
    /*box-shadow: 0 1px 1px #636363;*/
    box-shadow: 0 0px 1px #636363;
  }

#users-ul {
    padding: 0;
}

#users-ul button{
    /*width: 233px;
    padding: 12px;
    background-color: #FAFAFA;
    border: none;
    margin: 3px;*/
    background-color: #FAFAFA;
    border: none;
    width: 233px;
    margin: 3px;
    padding: 12px;
    box-shadow: 0 0px 1px #636363;
  }


.buttonComment {
    width: 735px;
    background-color: #A2CFFE;
    border: none;
    color: white;
}

button:hover {
    background-color: #333;
    color: white;
    /*background-image: linear-gradient(to right, #333, #333);*/
    
}

#signupButton:hover {
    background-color: #ffffff;
    border-top: solid 1px #07B290;
    border-bottom: solid 1px #07B290;
    color: black;
}


#forum-ul button:hover {
    background-color: #333;
    color: white;
}

#users-ul button:hover {
    background-color: #333;
    color: white;
}
