* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A3CDB5;
}

header {
    border: black solid 3px;
    width: 1440px;
    height: 141px;
    margin: auto;
}

h1 {
    text-align: center;
    padding: 50px;
}

.titleContainer {
    width: 400px;
}

.logInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: red solid 3px;
    min-width: 1440px;
    min-height: 600px;
    margin: auto;
}

.formContainer {
    margin-bottom: 20px;
}

.formContainer>label,
.formContainer>input {
    display: block;
}

.textLab {
    margin-bottom: 10px;
    font-weight: bold;
}

.error {
    color: red;
    max-width: 100px;
}